body{
    background-color: rgb(175, 175, 162);
    text-align:center;
}


#imagem{
    width: 20%;

}


p{

   text-align: center;
    background-color: rgb(250, 242, 244);
}

strong{
    color: red;
}
